
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <img
      src="/assets/logo.png"
      alt="Logo"
      width="100px"
      height="70px"
      class="d-inline-block align-text-top"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/order/contactUs">Contact us</a>
        </li>
        <li class="nav-item dropdown" id="signIn">
          <%if(user){%>
          <a class="btn btn-outline-secondary" role="button" href="/login/logout">Logout</a>
          <%} else {%>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sign in and order now!
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/login/new">Sign In</a></li>
            <li><a class="dropdown-item" href="/signup/new">Sign Up</a></li>
            <%}%>
          </ul>
        </li>
          <a href="/cart"><img id="cart" src="/assets/cart.png" /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

